@model Farming.Models.BioData

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BioData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FarmerPic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FarmerPic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FingerPrint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FingerPrint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.FarmerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
